
<h1>Welcome to your one stop shop for all your dad joke needs!</h1>

 
<p> Click this button to display a random dad joke below! <button class="btn" (click) = "getDadJoke()"> DadJoke </button> </p>

<p *ngIf="joke"> {{joke}} </p>
<p *ngIf="!joke"> a joke was supposed to be here... </p>
<!--
 <h1 id="tableLabel">Weather forecast</h1>


<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table> -->
