
<h2>Welcome to your one stop shop for all your dad joke needs!</h2>

<p> Click this button to display a random dad joke below! <button (click) = "getDadJoke()"> DadJoke </button> </p>
<p *ngIf="singleJoke"> {{singleJoke}} </p>
<hr />

<p>Or search for a term and find jokes that contain that term! <input type="text" placeholder="Enter term here" #searchTerm/> <button (click) ="getDadJokeSearch(searchTerm.value)">Search</button></p>

<table *ngIf="multipleJokes">
  <thead>
    <tr>
      <th> Jokes </th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let joke of listOfShortJokes">
      <td [innerHTML]="highlightTerm(joke, multipleJokes.searchTerm)"></td>
    </tr>
    <br />
    <tr *ngFor="let joke of listOfMediumJokes">
      <td [innerHTML]="highlightTerm(joke, multipleJokes.searchTerm)"></td>
    </tr>
    <br />
    <tr *ngFor="let joke of listOfLongJokes">
      <td [innerHTML]="highlightTerm(joke, multipleJokes.searchTerm)"></td>
    </tr>
  </tbody>
</table>
